* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    color: black;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

h1 {
    color: black;
    font-family: Open Sans, Arial, sans-serif;
}

h2, 
h3 {
    color: white; 
    font-family: Open Sans, Arial, sans-serif; 
}

p {
    line-height: 1.4;
    margin-block: 2%;
}

.text-block {
    padding: 5%;
    text-align: center;
    width: 100%;
}

/* HEADER SECTION */

.header-wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 150%;
    padding: 5% 5% 0;
    width: 100%;
}

.menu {
    justify-content: center;
    padding: 5%;
    width: 100%;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

.nav a {
    color: black;
    margin-right: 5px;
}

.active {
    color: gray;
    text-decoration: none;
}

/* INDEX PAGE - Hero image section */

.section-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/* brightness filter changes contrast with lighter background image compared to white text for accessability */
.hero-image {
    background: url(../images/hero-image-medium2.jpg) no-repeat center center;
    filter: brightness(95%);
    height: 400px;
    overflow: hidden;
    padding: 4.5%;
    width: 100%;
}

/* INDEX PAGE - Services Section */

.services {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-inline: 3%;
    padding-block: 3%;
}

.services div {
    line-height: 1.3;
    margin: 10px;
    padding-top: 0;
    text-align: center;
}

.services h2 {
    color: black;
}

.services p {
    padding-top: 10px;
}

/* ABOUT PAGE - Who Section */

.about-wrapper {
    background-color: #8b1933;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#about-us-img {
    padding: 0 5% 5%;
    width: 90%;
}

/* ABOUT PAGE - Location Section */

#location-wrapper {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.location-text {
    padding: 5%;
    text-align: center;
    width: 100%;
}

.location-text h2 {
    color: black;
    justify-content: left;
}

.location-text a {
    color: black;
}

.map-responsive {
    overflow: hidden;
    position: relative;
}

.map-responsive iframe {
    /* left:0;
    top:0; */
    /* position: sticky; */
    /* float: right; */
    /* margin-right: 12%; */
    height: 300px;
    width: 100%;
}

/* RESOURCES PAGE */

.section-wrapper-resources {
    background-color: #8b1933;
    color: white;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    width: 100%;
}

.section-wrapper-resources h2 {
    padding-bottom: 3%;
}

.section-wrapper-resources > div {
    padding-bottom: 0;
}

.resources-list {
    line-height: 1.4;
    list-style-type: none;
    padding: 0 5% 5%;
    text-align: center;
    width: 100%;
}

.resources-list li {
    margin-block: 5%;
}

.resources-list a {
    color: white;
}

/* .resources-list a:link {
    color: red;
    text-decoration: solid;
} */

/* CONTACT PAGE  - Contact form section*/

.contact-form {
    background-color: #8b1933;
    color: white;
    display: flex;
    flex-direction: column;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-input {
    background: white;
    border: 2px solid grey;
    border-radius: 5px;
    height: 25px;
    margin: 5px 5px 20px 0;
    width: 90%;
}

.text-input:hover {
    border-color: black;
}

.submit-button {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 100%;
    margin-block: 20px;
    padding: 10px 15px;
}

.submit-button:hover {
    background-color: white;
    color: black;
}

/* CONTACT PAGE  - Contact Us section*/

.section-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-us {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-us h2 {
    color: black;
    padding: 0 5% 3% 5%;
    text-align: center;
    width: 100%;
}

.contact-us h3 {
    color: black;
    font-size: 90%;
}

.contact-us-text {
    padding: 5%;
    text-align: center;
    width: 100%;
}

.section-wrapper-contact-us {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-block: 5%;
    text-align: center;
    width: 100%;
}

/* FOOTER */

.footer-wrapper {
    background-color: gray;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    left: 0;
    padding-top: 12px;
    text-align: center;
    /* position: fixed; */
    width: 100%;
}

.footer-wrapper ul {
    display: flex;
    font-size: 200%;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-wrapper i {
    color: black;
    margin-inline: 10px;
}

.footer-wrapper i:hover {
    color: #8b1933;
    /* text-decoration: underline; */
} 

/* MEDIA QUERIES FOR RESPONSIVENESS */

/* For tablet screens sizes from 481 - 768px wide */
/* Mobile first design used therefore this section not needed */

/* For laptop screens sizes from 768 - 1024px wide */

@media screen and (min-width: 768px) {
    .logo {
        font-size: 130%;
        padding: 3% 3% 0;
    }
    
    .menu {
        font-size: smaller;
        justify-content: center;
        padding: 2%;
    }
    
    .hero-image {
        padding-top: 2.5%;
    }

    /* Moves hero text down for better layout on larger screen */
    .hero-text {
        padding-top: 2%;
    }

    .services {
        flex-direction: row;
    }    
    
    .services div {
        padding-top: 2%;
        width: 33%;
    }

    #about-us-img {
        padding-top: 0;
        width: 50%;
    }

     /* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
    .video-container {
        display: flex;
        height: 60%;
        margin-inline: 50px;
        overflow: hidden;
        /* width: 100%; */
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        position: relative;
    }

    .resource-video {
        align-items: center;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}

/* For desktop screens sizes from 1025 - 1200px wide */

@media screen and (min-width: 1025px) {
    .logo {
        font-size: 130%;
        padding: 3% 3% 0;
    }
    
    /* Cropped image so that hero text does not overlay with fingers - for high contrast */
    .hero-image {
        background: url(../images/hero-image-cropped3.jpg) no-repeat center center;
        padding-top: 1.5%;
        overflow: visible;
        background-size: cover;
    } 
    
     /* Moves hero text down for better layout on larger screen & avoids overlap with image*/
     .hero-text {
        padding-top: 1%;
    }

    .services div {
        padding-top: 2%;
        width: 33%;
    }

    .about-wrapper {
        flex-direction: row;
    }

    .about-wrapper .text-block {
        padding-block: 2%;
        width: 65%;
    }
 
   /* https://stackoverflow.com/questions/14142378/how-can-i-fill-a-div-with-an-image-while-keeping-it-proportional */
    .about-image {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 35%;
    }

    #about-us-img {
        padding-left: 0;
        width: 100%;
    }

    #location-wrapper {
        flex-direction: row-reverse;
    }

    .location-text {
        width: 65%;
    }

    /* https://stackoverflow.com/questions/14142378/how-can-i-fill-a-div-with-an-image-while-keeping-it-proportional */
    .map-responsive {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 35%;
    }

    /*  Padding left stops image touching top of section */
    .map-responsive iframe {
        padding-left: 30px;
    }

    .section-wrapper-resources {
        display: flex;
        flex-direction: column;
    }

    .section-wrapper-resources .text-block {
        padding-top: 2%;
    }

    .section-wrapper-resources p {
        padding: 0;
        margin: 1%;
    } 

    /* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
    .video-container {
        display: flex;
        height: 60%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        position: relative;
        margin-inline: 50px;
        width: 90%;
    }

    .resource-video {
        align-items: center;
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .resources-list {
        padding-block: 0;
        padding-inline: 0;
    }

    .resources-list li {
        margin-block: 3%;
    }

    .contact-us {
        background-color: white;
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
    }

    .section-wrapper-contact-us {
        align-self: center;
        width: 65%;
      }
}

/* For extra-large screens sizes from 1201px wide and up */
@media screen and (min-width: 1201px) {

    /*  Padding stops image touching top of section */
    #about-us-img {
        padding-top: 30px;
    }

    /*  Padding stops image touching top of section */
    .map-responsive iframe {
        padding-left: 30px;
    }
}