* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    color: black;
    font-family: Montserrat, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
}

h1 {
    color: black;
    font-family: Open Sans, Arial, sans-serif;
}

h2, 
h3 {
    color: white; 
    font-family: Open Sans, Arial, sans-serif; 
}

p {
    line-height: 1.4;
    margin-block: 2%;
}

.text-block {
    padding: 5%;
    text-align: center;
    width: 100%;
}

/* HEADER SECTION */

.header-wrapper {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    width: 100%;
}

.logo {
    font-size: 150%;
    padding: 5% 5% 0;
    width: 100%;
}

.menu {
    justify-content: center;
    padding: 5%;
    width: 100%;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    text-align: left;
}

.nav a {
    color: black;
    margin-right: 5px;
}

.active {
    color: #8b1933;
    text-decoration: none;
}

/* INDEX PAGE - Hero image section */

.section-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

/* brightness filter changes contrast with lighter background image compared to white text for accessability contast purposes */
.hero-image {
    background: url(../images/hero-image-medium2.jpg) no-repeat center center;
    filter: brightness(95%);
    height: 400px;
    overflow: hidden;
    padding: 4.5%;
    width: 100%;
}

/* INDEX PAGE - Services Section */

.services {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-inline: 3%;
    padding-block: 3%;
}

.services div {
    line-height: 1.3;
    margin: 10px;
    padding-top: 0;
    text-align: center;
}

.services h2 {
    color: black;
}

.services p {
    padding-top: 10px;
}

/* ABOUT PAGE - Who Section */

.about-wrapper {
    background-color: #8b1933;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
}

#about-us-img {
    padding: 0 5% 5%;
    width: 90%;
}

/* ABOUT PAGE - Location Section */

#location-wrapper {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
}

.location-text {
    padding: 5%;
    text-align: center;
    width: 100%;
}

.location-text h2 {
    color: black;
    justify-content: left;
}

.location-text a {
    color: black;
}

.map-responsive {
    overflow: hidden;
    position: relative;
}

.map-responsive iframe {
    /* left:0;
    top:0; */
    /* position: sticky; */
    /* float: right; */
    /* margin-right: 12%; */
    height: 300px;
    width: 100%;
}

/* RESOURCES PAGE */

.section-wrapper-resources {
    background-color: #8b1933;
    color: white;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
    /* width: 100%; */
}

.section-wrapper-resources h2 {
    padding-bottom: 3%;
}

.section-wrapper-resources > div {
    padding-bottom: 0;
}

.resources-list {
    line-height: 1.4;
    list-style-type: none;
    padding: 0 5% 5%;
    /* text-align: center;
    width: 100%; */
}

.resources-list li {
    margin-block: 5%;
}

.resources-list a {
    color: white;
}

/* .resources-list a:link {
    color: red;
    text-decoration: solid;
} */

/* CONTACT PAGE  - Contact form section*/

.contact-form {
    background-color: #8b1933;
    color: white;
    display: flex;
    flex-direction: column;
}

.form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.text-input {
    background: white;
    border: 2px solid grey;
    border-radius: 5px;
    height: 25px;
    margin: 5px 5px 20px 0;
    width: 70%;
}

.contact-form .text-input {
    margin-top: 0;
}

.text-input:hover {
    border-color: black;
}

.submit-button {
    background-color: black;
    border-radius: 5px;
    color: white;
    font-size: 100%;
    margin-block: 40px;
    padding: 10px 15px;
}

.submit-button:hover {
    background-color: white;
    color: black;
}

/* CONTACT PAGE  - Contact Us section*/

.section-wrapper {
    display: flex;
    flex-direction: column;
}

.contact-us {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-us h2 {
    color: black;
    padding: 0 5% 5% 5%;
    /* text-align: center; */
    /* width: 100%; */
}

.contact-us h3 {
    color: black;
    font-size: 90%;
    margin-top: 2%;
}

.contact-us-text {
    padding: 5%;
    text-align: center;
    margin-top: 20px;
    /* width: 100%; */
}

.section-wrapper-contact-us {
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    padding-block: 5%;
    /* text-align: center; */
    /* width: 100%; */
}

/* FOOTER */

.footer-wrapper {
    background-color: gray;
    /* bottom: 0; */
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    /* left: 0; */
    padding-top: 12px;
    /* text-align: center; */
    /* position: fixed; */
    width: 100%;
}

.footer-wrapper ul {
    display: flex;
    font-size: 200%;
    justify-content: space-evenly;
    list-style-type: none;
}

.footer-wrapper i {
    color: black;
    margin-inline: 10px;
}

.footer-wrapper i:hover {
    color: #8b1933;
    /* text-decoration: underline; */
} 

/* MEDIA QUERIES FOR RESPONSIVENESS */

/* FOR SMALL/TABLET SCREEN SIZES from 481 - 768px wide */
/* Mobile first design used therefore this section not needed */

/* FOR MEDIUM/LAPTOP SCREEN SIZES from 768 - 1024px wide */

@media screen and (min-width: 768px) {
    /* Adjusts logo for better layout on medium screen */
    .logo {
        font-size: 130%;
        padding: 3% 3% 0;
    }
    
    /* Adjusts nav menu for better layout on medium screen */
    .menu {
        font-size: smaller;
        /* justify-content: center; */
        padding: 2%;
    }

    /* Moves hero text for better layout on larger screen */
    .hero-image {
        padding-top: 2.5%;
    }

    /* Moves hero text for better layout on larger screen */
    .hero-text {
        padding-top: 2%;
    }

     /*  Set containers into a row for improved layout at medium screen size */
    .services {
        flex-direction: row;
    } 

    /* Controls white space for services section for medium screen*/
    .services div {
        padding-top: 2%;
        width: 33%;
    }

    /* Reduces image size for medium screen*/
    #about-us-img {
        /* padding-top: 0; */
        width: 50%;
    }

    /* Controls size & postion of video on larger screen - from w3schools*/
     /* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
    .video-container {
        display: flex;
        height: 60%;
        margin-inline: 50px;
        overflow: hidden;
        /* width: 100%; */
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        position: relative;
    }

    /* Controls size & postion of video on larger screen*/
    .resource-video {
        /* align-items: center; */
        bottom: 0;
        height: 100%;
        /* left: 0; */
        position: absolute;
        /* right: 0;
        top: 0; */
        width: 100%;
    }

    /* Reduces visual space for larger screen size around request-contact text*/
    .contact-us-text {
        padding-block: 2%;
        /* text-align: center;
        width: 100%; */
    }

    .section-wrapper-contact-us {
        /* background-color: white;
        display: flex;
        flex-direction: column; */
        /* padding-block: 2%; */
        /* text-align: center;
        width: 100%; */
    }

    .section-wrapper-contact-us > p {
        margin-top: 1%;
    }

    .text-input {
        width: 40%;
    }
}

/* FOR DESKTOP SCREEN SIZES from 1025 - 1200px wide */

@media screen and (min-width: 1025px) {
    
    /* .logo {
        font-size: 130%;
        padding: 3% 3% 0;
    }
     */

    /* Cropped image replaces original so that hero text does not overlay with fingers - for high contrast */
    .hero-image {
        background: url(../images/hero-image-cropped3.jpg) no-repeat center center;
        padding-top: 1.5%;
        overflow: visible;
        background-size: cover;
    } 
    
     /* Moves hero text down for better layout on larger screen & avoids overlap with image*/
     .hero-text {
        padding-top: 0%;
    }

    /* Reduces white space between services and hero image for improved layout at larger screen size*/
    .services div {
        padding-top: 0%;
        /* width: 33%; */
    }

    /*  Set containers into a row for improved layout at larger screen size */
    .about-wrapper {
        flex-direction: row;
    }

    /*  Controls size & width of about us text container - consistent with location section below it */
    .about-wrapper .text-block {
        padding-block: 2%;
        width: 65%;
    }
 
     /*  Sets size & position of image at larger screen size for improved layout */
   /* https://stackoverflow.com/questions/14142378/how-can-i-fill-a-div-with-an-image-while-keeping-it-proportional */
    .about-image {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 35%;
    }

    /*  Sets size & position of image at larger screen size for improved layout - additional settings to stackoverflow code */
    #about-us-img {
        padding-left: 0;
        width: 100%;
    }

    /*  Set containers into a row, and reverses the order for improved layout at larger screen size */
    #location-wrapper {
        flex-direction: row-reverse;
    }

    /*  Controls width of location text container - consistent with map section on contact page */
    .location-text {
        width: 65%;
    }

    /*  Sets map size & position within container */
    /* https://stackoverflow.com/questions/14142378/how-can-i-fill-a-div-with-an-image-while-keeping-it-proportional */
    .map-responsive {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width: 35%;
    }

    /*  Padding left stops image touching top of section */
    .map-responsive iframe {
        padding-left: 30px;
    }

    /*  Controls flex column display */
    .section-wrapper-resources {
        display: flex;
        flex-direction: column;
    }

 /*  Reduces spacing around resources section, above video, for larger screen viewing */
    .section-wrapper-resources .text-block {
        padding-top: 2%;
    }

    /* .section-wrapper-resources > p {
        padding: 0;
        margin: 1%;
    }  */

    /*  Allows video resizing for larger screen */
    /* https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
    .video-container {
        display: flex;
        height: 60%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
        position: relative;
        margin-inline: 50px;
        width: 90%;
    }

    .resource-video {
        /* align-items: center; */
        /* bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%; */
    }

    /*  Reduces spacing around resources list for larger screen viewing */
    .resources-list {
        padding-block: 0;
        padding-inline: 0;
    }

    /*  Reduces spacing around resources list for larger screen viewing */
    .resources-list li {
        margin-block: 3%;
    }

    /*  Reduces size of form input boxes for improved layout at larger screen width */
    .form {
        width: 50%;
        margin-inline: auto;
    }

    /*  Changes 2 parts to contact-us section to dsiplay as a row for larger screen  */
    .contact-us {
        /* background-color: white;
        display: flex; */
        flex-direction: row-reverse;
        /* text-align: center; */
    }

    /*  Sets contact-us section to same size as similar location section on about page */
    .section-wrapper-contact-us {
        align-self: center;
        width: 65%;
      }
}

/* FOR EXTRA-LARGE SCREEN SIZES from 1201px wide and up */

@media screen and (min-width: 1201px) {

    /*  Padding stops image touching top of section */
    #about-us-img {
        padding-top: 30px;
    }

    /*  Padding stops image touching top of section */
    .map-responsive iframe {
        padding-left: 30px;
    }
}